.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  background-color: rgb(134, 120, 144);
}

.output {
  max-width: 50vh;

}

.input {
  max-width: 50vh;

}
